{{#each freelancing.contracting}}
<div class="">
  <strong class="heading-three">{{year}}</strong>
  {{#each contracts}}
    <h3 class="heading-three">{{company}}</h3>
    <img alt="{{company}} logo" src="{{logo.src}}" />
    {{{content}}}
    {{#if preview}}
    <div class="">
      {{#each preview.images}}
        <img alt="{{alt}}" src="{{src}}" />
      {{/each}}
    </div>
    {{/if}}
    {{#if quote}}
      {{>quote quote}}
    {{/if}}
  {{/each}}
</div>
{{/each}}
