{{#if isLink}}
<a class="icon icon--{{icon}} {{class}}" href="{{link}}">
{{else}}
<span class="icon icon--{{icon}} {{class}}">
{{/if}}
{{#is icon "twitter"}}
  <svg class="icon__el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16">
    <path d="M20,1.9c-0.7,0.3-1.5,0.5-2.3,0.6c0.8-0.5,1.5-1.3,1.8-2.2c-0.8,0.5-1.6,0.8-2.6,1C16,0.5,15,0,13.8,0c-2.2,0-4.1,1.8-4.1,4
  	c0,0.3,0,0.6,0.1,0.9C6.4,4.8,3.5,3.2,1.4,0.7C1,1.3,0.8,2,0.8,2.8c0,1.4,0.7,2.6,1.8,3.4C2,6.1,1.3,5.9,0.8,5.6c0,0,0,0,0,0.1
  	c0,2,1.4,3.6,3.2,4c-0.3,0-0.7,0.1-1,0.1s-0.5,0-0.8-0.1c0.5,1.6,2,2.8,3.9,2.8c-1.4,1.1-3.1,1.7-5.1,1.7c-0.3,0-0.6,0-1-0.1
  	C1.8,15.3,4,16,6.3,16C13.8,16,18,9.8,18,4.5c0-0.2,0-0.3,0-0.5C18.8,3.4,19.4,2.7,20,1.9z"/>
  </svg>
{{/is}}
{{#is icon "linkedin"}}
  <svg class="icon__el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <g>
      <path d="M0.3,5.3h3.3V16H0.3V5.3z M1.9,0C3,0,3.9,0.9,3.9,1.9S3,3.9,1.9,3.9C0.9,3.9,0,3,0,1.9S0.9,0,1.9,0"/>
      <path d="M5.7,5.3h3.2v1.5h0c0.4-0.8,1.5-1.7,3.1-1.7c3.4,0,4,2.2,4,5.1V16h-3.3v-5.2c0-1.2,0-2.8-1.7-2.8 c-1.7,0-2,1.4-2,2.7V16H5.7L5.7,5.3L5.7,5.3z"/>
    </g>
  </svg>
{{/is}}
{{#is icon "sketch"}}
  <svg class="icon__el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 26.93">
    <path fill="#fdb300" d="M6.54.88L15 0l8.46.88L30 9.58 15 26.93 0 9.61z"/>
    <path fill="#ea6c00" d="M6.08 9.6L15 26.92 0 9.6h6.08M23.93 9.6L15 26.92 30 9.6h-6.07"/>
    <path fill="#fdad00" d="M6.08 9.6h17.85L15 26.92 6.08 9.6"/><path fill="#fdd231" d="M15 0L6.54.88l-.46 8.73L15 0M15 0l8.45.88.48 8.73L15 0"/>
    <path fill="#fdad00" d="M30 9.61L23.45.88l.48 8.73H30M0 9.61L6.54.88l-.46 8.73H0"/>
    <path fill="#feeeb7" d="M15 0L6.08 9.61h17.85L15 0"/>
  </svg>
{{/is}}
{{#is icon "photoshop"}}
  <svg class="icon__el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
    <path fill="#001d26" d="M0 0h30v30H0z"/>
    <path fill="#00c8ff" d="M30-.05v30H0v-30h30m-1.21 1.26H1.21v27.58h27.58z" data-name="Layer 1"/>
    <g fill="#00c8ff" data-name="Layer 2">
      <path d="M4.57 6.32a26 26 0 0 1 4.59-.37A7.27 7.27 0 0 1 14 7.34a4.79 4.79 0 0 1 1.61 3.71 5.17 5.17 0 0 1-1.39 3.79A7.23 7.23 0 0 1 9 16.66a6.45 6.45 0 0 1-1.47-.12v6.29h-3zm3 7.8a4.92 4.92 0 0 0 1.43.15c2.25 0 3.62-1.15 3.62-3.09s-1.26-2.84-3.33-2.84a8.15 8.15 0 0 0-1.73.15v5.63zM17.17 19.74a6.42 6.42 0 0 0 3 .9c1.32 0 1.91-.45 1.91-1.25s-.49-1.22-2-1.77c-2.32-.8-3.27-2.09-3.27-3.54 0-2.14 1.73-3.79 4.5-3.79a6.75 6.75 0 0 1 3.18.72l-.61 2.14a5.18 5.18 0 0 0-2.52-.7c-1.08 0-1.66.55-1.66 1.3s.56 1.12 2.08 1.69c2.22.79 3.22 1.91 3.22 3.7 0 2.22-1.69 3.69-4.84 3.69a7.55 7.55 0 0 1-3.6-.88z"/>
    </g>
  </svg>
{{/is}}
{{#is icon "illustrator"}}
  <svg class="icon__el" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
    <path fill="#261300" d="M0 0h30v30H0z"/>
    <path fill="#ff7c00" d="M30 0v30H0V0h30m-1.21 1.21H1.21v27.58h27.58z" data-name="Layer 1"/>
    <g fill="#ff7c00">
      <path d="M10.06 18.39l-1.43 4.82H5.51l5.31-17h3.86l5.39 17h-3.25l-1.5-4.82zM14.8 16l-1.3-4.19c-.32-1-.59-2.2-.84-3.18-.25 1-.49 2.17-.79 3.18L10.55 16zM24.49 7.48a1.7 1.7 0 0 1-3.39 0 1.7 1.7 0 0 1 3.39 0zm-3.22 15.73v-12.3h3v12.3h-3z"/>
    </g>
  </svg>
{{/is}}
{{#if isLink}}
</a>
{{else}}
</span>
{{/if}}
