<div class="quote">
  <img alt="{{name}}" class="quote__profile-pic" src="{{profile-pic.src}}" />
  <blockquote class="quote__quote">
    {{{content}}}
  </blockquote>
  <span class="quote__attribution">{{name}}, {{role}} {{#if company}} at {{company}}{{/if}}</span>
</div>
