<div class="section-hero{{#if class}} section-hero--{{class}}{{/if}} js-animate-trigger-section-hero-background">
  <div class="section-hero__inner">
    <div class="container container--thin">
      <div class="section-hero__content-wrapper js-animate-trigger-section-hero-content">
        <div class="section-hero__content js-animate-section-hero-content">
          <h2 class="section-hero__title">{{title}}</h2>
          <div class="">
            {{{body}}}
          </div>
        </div>
      </div>
      <div class="hero-background hero-background--{{class}}">
        <div class="hero-background__image js-animate-section-hero-background" style="background-image: url('{{background.src}}')">{{background.alt}}</div>
        <div class="hero-background__overlay">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
