<section class="skills">
  {{> section-hero introduction class="skills"}}
  <div class="container skills__inner">
    <div class="skills__main line-segment">
      <h3 class="heading-three">{{main-skills.title}}</h3>
      <ul class="">
  {{#each main-skills.skills}}
        <li class="">
          <h4 class="heading-four">{{title}}<span class="heading-four-alt skills__main-secondary"> - {{sub-title}}</span></h4>
          {{{content}}}
        </li>
  {{/each}}
      </ul>
      {{>line-segment horizontal=true}}
    </div>
    <div class="">
      <div class="skills__secondary">
        <h3 class="heading-three">{{workflow.title}}</h3>
        <ul class="">
        {{#each workflow.skills}}
          <li class="">
              <h4 class="heading-four-alt">{{title}}</h4>
              {{{content}}}
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="skills__secondary">
        <h3 class="heading-three">{{software.title}}</h3>
        <ul class="">
        {{#each software.skills}}
          <li class="">{{title}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
