{{#each freelancing.contracting}}
  <div class="timeline__major-period">
    <strong class="timeline__period-title line-segment">
      {{year}}
      {{>line-segment vertical=true class="line-segment__line--medium-separator"}}
    </strong>
    {{#each contracts}}
      <div class="timeline__segment timeline__segment--{{slug}} line-segment">
        <div class="timeline__header timeline__header--contracting line-segment">
          <h3 class="heading-three timeline__header-title">{{company}}</h3>
          <img alt="{{company}} logo" class="timeline__contracting-logo" src="{{logo.src}}" />
          {{>line-segment vertical=true class="line-segment__line--small-separator-header"}}
          {{>line-segment horizontal=true class="line-segment__line--header-h"}}
        </div>
        {{#each modules}}
          <div class="timeline__content-item line-segment{{#if @last}} timeline__content-item--last{{/if}}">
            {{> ( lookup . 'module') data}}
            {{#unless @last}}
              {{>line-segment grey=true horizontal=true}}
            {{else}}
              {{>line-segment horizontal=true}}
            {{/unless}}
          </div>
        {{/each}}
        {{>line-segment vertical=true class="line-segment__line--medium-separator"}}
      </div>
    {{/each}}
  </div>
{{/each}}
