<ul class="company-list grid grid--border-seperated">
  {{#each companies}}
  <li class="company-list__item company-list__item--{{slug}} grid__col grid__col--6-12 grid__col--sm-3-12">
    <a class="company-list__link" href="{{url}}" target="_blank"  data-event-name="Company logo link click" data-event-value="{{name}}">
      <img alt="{{name}}" class="company-list__image" src="{{logo.src}}" />
    </a>
  </li>
  {{/each}}
</ul>
