<div class="timeline">
  {{> contracting}}
  {{> remote freelancing.remote}}
  <div class="">
    <strong class="heading-three">{{freelancing.start-date}}</strong>
    <h3 class="heading-two">{{freelancing.start-title}}</h3>
  </div>
  <div>
    {{#each perm}}
    <div class="">
      <strong class="heading-three">{{period}}</strong>
      <h3 class="heading-three">{{company}}</h3>
      <img alt="{{company}} logo" src="{{logo.src}}" />
      <strong class="heading-three-alt">{{role}}</strong>
      <div class="">
        {{{introduction}}}
      </div>
      <ul class="">
      {{#each responsibilities}}
        <li class="">{{{content}}}</li>
      {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
</div>
