<!DOCTYPE html>
<html class="no-js" lang="en-GB">
  <head>
    <title>{{global.meta-title}}</title>
    <link href="assets/css/{{global.name}}.css" rel="stylesheet">
    <script src="assets/js/modernizr-3.4.0.min.js"></script>
    <meta name="description" content="{{global.meta-description}}"/>
    <meta property="og:locale" content="en_gb" />
    <meta property="og:url" content="{{ URL }}" />
    <meta property="og:site_name" content="{{global.meta-name}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{global.meta-title}}" />
    <meta property="og:description" content="{{global.og-description}}" />
    <meta content="{{ URL }}/{{global.og-image}}" property="og:image">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{global.twitter-handle}}" name="twitter:site">
    <meta content="{{global.meta-title}}" name="twitter:title">
    <meta content="{{global.twitter-handle}}" name="twitter:creator">
    <meta content="{{global.og-description}}" name="twitter:description">
    <meta content="{{ URL }}/{{global.twitter-image}}" name="twitter:image">
  </head>
  <body class="no-js-site-animations">
    {{> analytics}}
    <div class="wrapper">
      {{> header}}
      {{{ block "main"}}}
      {{> footer}}
    </div>
    <script src="assets/js/{{global.name}}.js"></script>
  </body>
</html>
