<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{global.meta-title}}</title>
    <link href="assets/css/{{global.name}}.css" rel="stylesheet">
    <script src="assets/js/modernizr-2.8.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="{{global.meta-description}}"/>
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="{{global.canonical}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{global.meta-title}}" />
    <meta property="og:description" content="{{global.meta-description}}" />
    <meta property="og:url" content="{{global.canonical}}" />
    <meta property="og:site_name" content="{{global.meta-name}}" />
  </head>
  <body class="no-js-site-animations">
    {{> analytics}}
    <div class="wrapper">
      {{> header}}
      {{{ block "main"}}}
      {{> footer}}
    </div>
    <script src="assets/js/{{global.name}}.js"></script>
  </body>
</html>
